.vjs-vast-blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
}

.vjs-skip-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 25px;
    background-color: black;
    border: 1px solid white;
    z-index: 2;
}