.vast-skip-button {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: auto;
    background-color: #000;
    color: #AAA;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    padding: 10px;
    z-index: 2;
}

.vast-skip-button.enabled {
    cursor: pointer;
    color: #fff;
}

.vast-skip-button.enabled:hover {
    cursor: pointer;
    background: #333;
}

.vast-blocker {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vast-ad-control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.vjs-ad-playing .vast-ad-control {
    display: block;
}
.vast-advertisement {
    color: white;
    text-shadow: 0 0 0.2em #000;
    padding: 0 0 0.2em 0.5em;
    display: inline-block;
}
.vast-progress-holder {
    height: 0.3em;
    position: relative;
}
.vast-progress-holder .vjs-play-progress {
    height: 100%;
    width: 0%;
}